.webinar-card .image-box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(6, 6, 6, 0), rgba(0, 0, 0, 0.8));
  z-index: 1;
}

.trending-card:hover {
  transform: translateY(-25px);
  transition: all 0.5s ease;
}
.trending-card:hover .item-count {
  background-color: var(--secondary);
  color: #ffffff;
  transition: all 0.5s ease;
}

.find-instructor-section .find-instructor-section-circle, .find-instructor-section .find-instructor-section-dots {
  position: absolute;
  z-index: -1;
}
.find-instructor-section .find-instructor-section-circle {
  top: -50px;
  right: 10%;
}

.find-instructor-section .find-instructor-section-dots {
  bottom: -25px;
  left: -30px;
  animation: hero-dot 5s linear 0s infinite alternate;
}
